body {
background-color: #ffffff;
color: #7289da;
}

h1 {
font-family: Courier New;
font-size: 60px
font-weight: lighter;
}

p {
font-size: 120%;
font-family: Helvetica;
}

a {
color: #7289da;
font-family: Courier New;
}

.rights-reserved {
font-family: Courier New;
font-size: 80%;
padding: 10px 10px 10px 10px;
border: 5px solid;
border-color: lightgrey;
background-color: #E4E9EF;
border-radius: 20px 10px;
width: 177px;
margin: auto;
}

.info {
font-size: 80%;
}

.nav {
border: solid 2px;
width: 202px;
padding: 5px;
}

.about-img-pir {
position: absolute;
right: 0;
margin-right: 20px;
height: 100px;
width: 100px;
align: right;
margin-top: -71.7px;
}